.header_on_background{
    height: 130px;
    background-color: #0b9689;
}
.main_on_background{
    height: calc(100vh - 130px);
    background-color: #dadcd4;
}
h5{
    margin: 0;
}
i{
    font-size: 22px;
    padding-left: 9px;
    padding-right: 9px;
}
ul{
    list-style: none;
}
.secondary_text_style{
    color: #b7babc;
}

.my_boolzapp_cont{
    position: absolute;
    height: calc(100vh - 60px);
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    background-color: #fafafa;
}
.my_row_style{
    height: 100%;
}
/* ************************ */
/* ************************************************************** */





/* ******************************************************** */
/* ****************COLONNA SX *******************************/
/* sezione utente */
.my_style_users{
    height: 70px ;
    display: flex;
    align-items: center;
    background-color: #eae9ea;
}
.my_style_users span{
    font-weight: 600;
    font-size: 20px;
}
.my_style_users i{
    padding-left: 10px;
    color: #b0b1b1;
}
/* *************** */

/* sezione notifiche */
.my_style_notification{
    display: flex;
    align-items: center;
    height: 75px;
    background-color: #8fd9fa;
}
.my_bell_style{
    position: relative;
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;    
}
.my_bell_style i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    color: #8fd9fa;
}
/* ********************* */


/* sezione searchBar */
.my_style_searchbar input{
    padding-left: 60px;
}
.my_style_searchbar{
    height: 55px;
    background-color: #fafafa;
}
.my_input_cont{
    height: 100%; 
    width: 100%
}
.my_input_cont i{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #b6b9bb;
}
/* *********************** */


/* sezione contact */
.my_style_contacts{
    background-color: #fafafa;
    height: calc(100% - 200px);
    flex-grow: 1;
    overflow: hidden;
}
.my_style_contacts ul{
    height: 100%;
    padding: 0;
    margin: 0;
    border-right: 1px solid #e7e9e8;
    background-color: white;
}
.box_contacts{
    position: relative;
    list-style: none;
    display: flex;
    border-top: 1px solid #e7e9e8;
    padding: 5px;
    padding-left: 15px;
    transition: background-color .1s linear ;

}
.timestamp_on_absolute{
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 12px;
    color: #b7babc;
}
/* ************************ */
/* ************************************************************** */





/* ******************************************************** */
/* ****************COLONNA DX *******************************/
.messages_display_cont{
    flex-grow: 1;
    overflow: auto;
    background-image: url(../IMG/mine.jpg);
    object-fit: cover;
}

/* stile messaggi */
.message_style{
    background-color: white; 
    max-width: 300px;
    min-width: 200px;
    padding: 10px 15px 5px 15px;
    padding-top: 10px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.style_mess_received{
    background-color: white; 
    float: left;

}
.style_mess_sent{
    background-color: #d5f9be; 
    float: right;
    text-align: right;
}
.timestamp_style{
    font-size: 10px;
    margin: 0;
    text-align: end;
} 
/* ***************** */

/* nav-bar input messaggi */
.my_style_navbar_message{
    height: 70px ;
    display: flex;
    align-items: center;
    background-color: #eae9ea;
}
.my_style_navbar_message i{
    padding-left: 10px;
    color: #6b7375;
    font-size: 25px;
}
.style_emoji{
    width: 7%;
    text-align: center;
}
.style_input{
    width: 79%;
}
.style_send_mess{
    width: 7%;
    text-align: center;
    color: #0b9689;
    display: none;
}
.style_send_mess i {
    color: #0b9689;
}
.style_input input{
    border: none;
    height: 55px;
}
.style_audio_mess{
    width: 7%;
    text-align: center;
}
/* ************************ */




/* *************************************************************/
/* EFFETTI */
.box_contacts:hover{
    background-color: rgb(233, 233, 233);
}
/* .box_contacts:focus{
    background-color: rgb(219, 219, 219);
} */